.client {
  @include section(60px, 60px);
  // @include section(94px, 94px);
}

.client__heading {
  @extend %heading;
}

.client__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.client__item {
  width: calc(100% / 2 - 30px);
  margin: 15px;
}

// .client__item:not(:last-child) {
//   margin-right: 30px;
// }

.client__link {
  @extend %link;
  @include flex(flex, null, null, center, center);
  flex-basis: 210px;
  height: 92px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  @include transition(color, border-color, null, var(--duration), var(--timing-function));

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
