.client {
  @include section(60px, 60px);

  @media screen and (min-width: $desktop) {
    @include section(94px, 94px);
  }
}

.client__heading {
  @extend %heading;
}

.client__list {
  @extend %list;
  margin-bottom: 15px;

  //   display: flex;
  //   margin: -15px;

  //   @media screen and (max-width: 1199px) {
  //     flex-wrap: wrap;
  //   }
}

// .client__item {
//   margin: 15px;
//   width: calc(100% / 2 - 30px);

//   @media screen and (min-width: $tablet) {
//     width: calc(100% / 3 - 30px);
//   }

//   @media screen and (min-width: $desktop) {
//     width: calc(100% / 6 - 30px);
//   }
// }

.client__link {
  @extend %link;
  @include flex(flex, null, null, center, center);
  flex-basis: 210px;
  height: 92px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  @include transition(color, border-color, null, var(--duration), var(--timing-function));

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
