.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;

  border-bottom: 1px solid #ececec;
  max-height: 80px;
  background-color: var(--accent-text-and-bg-color);

  &__logo {
    padding: 24px 0;
    margin-right: 93px;
  }
}
