.team {
  @include section(60px, 60px);
  background-color: var(--section-bg-color);

  @media screen and (min-width: 1200px) {
    @include section(94px, 94px);
  }
}

.team__heading {
  @extend %heading;
}

.team__list {
  @extend %list;
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.team__card {
  margin-bottom: 30px;

  background-color: var(--accent-text-and-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team__card-desc {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__card-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
}

.team__card-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}
