.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 738px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.container--header {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.container--hero {
  min-width: 360px;
  text-align: center;
  padding: 0;

  @media screen and (min-width: 1200px) {
    width: 696px;
  }
}

.container--footer {
  text-align: center;
  // @media screen and (max-width: 1199px) {
  //   text-align: center;
  // }

  @media screen and (min-width: 1200px) {
    @include flex(flex, null, null, null, baseline);
  }
}
