.menu {
  @extend %list;

  .nav & {
    @media screen and (max-width: 767px) {
      display: none;
    }

    display: flex;
  }
}

.menu__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 50px;
  }
}

.menu__link {
  display: block;
  @extend %link;
  font-weight: 500;
  padding: 0;
  font-size: 40px;
  line-height: 1.18;
  color: var(--main-text-color);

  @include transition(color, null, null, var(--duration), var(--timing-function));

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: $tablet) {
    position: relative;
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

.menu__item--current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu__item--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background: var(--accent-color);

    border-radius: 2px;
  }
}
