.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include flex(flex, null, column, space-between, null);
  padding: 48px 30px;
  background-color: var(--accent-text-and-bg-color);
  z-index: 10;

  transform: translateX(100%);
  @include transition(transform, null, null, var(--duration), var(--timing-function));

  @media screen and (min-width: $mobile) {
    padding: 48px 40px;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu__icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
  @include transition(fill, null, null, var(--duration), var(--timing-function));

  .menu__btn-open:hover &,
  .menu__btn-open:focus &,
  .menu__btn-close:hover &,
  .menu__btn-close:focus & {
    color: var(--accent-color);
  }
}

.menu__top {
  margin-bottom: 20px;

  .menu__link {
    font-size: 10vw;
  }
}

.menu__bottom {
  .contact__link {
    font-size: 6vw;
  }

  .contact__link--phone {
    font-size: 9vw;
    line-height: 1.18;
    color: var(--accent-color);
  }
}
