.nav {
  display: flex;
  justify-content: space-between;
  //   margin-right: auto;
}

.menu {
  @extend %list;
  // display: flex;
}

// .menu__item:not(:last-child) {
//   margin-right: 50px;
// }

.menu__link {
  display: block;
  // padding: 32px 0;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  @extend %link;

  @include transition(color, null, null, var(--duration), var(--timing-function));

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu__item--current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu__item--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--accent-color);

    border-radius: 2px;
  }
}
