.social {
  @include flex(flex, null, null, center, null);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  @include flex(flex, null, null, center, center);
  width: 44px;
  height: 44px;
  color: var(--icon-color);
  border-radius: 50%;

  @include transition(color, background-color, null, var(--duration), var(--timing-function));

  &:hover,
  &:focus {
    color: var(--accent-text-and-bg-color);
    background-color: var(--accent-color);
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__link--footer {
  color: var(--accent-text-and-bg-color);
  background-color: var(--bg-icon-color);
}
