.subs-form {
  @media screen and (min-width: $tablet) {
    width: 450px;
    margin: 0 auto;
  }

  @media screen and (min-width: $desktop) {
    width: 570px;
    margin: 0;
  }
}

.subs-form__field {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.subs-form__input {
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--accent-text-and-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @include transition(border-color, null, null, var(--duration), var(--timing-function));

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    outline: -webkit-focus-ring-color auto 0px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subs-form__icon {
  margin-left: 10px;
}
