%list {
  padding: 0;
  list-style: none;
}

%link {
  text-decoration: none;
}

%heading {
  margin-bottom: 30px;
  //   margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  //   font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
