// Убираем внешние отступы

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Убираем внутренние отступы и стандартную стилизацию для списков
.list {
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px var(--bg-color-card) inset;
}
